
.container-fluid{
      position:absolute;
       opacity: 0.9;
   height:100vh;
    width: 100vw;
       background-repeat: repeat;
       background-size:cover;
       z-index: -99;
       background-image: url('/src/assets/background.jpeg');
       backdrop-filter: blur(20px);
   
   
   }
   
   form{
       width: auto;
       /* max-width: 400px; */
       z-index: 99;
       margin-top: 200px;
   background-color: aliceblue;
   border-style: solid;
   border-width: 0.5px;
   border-radius: 10px;
   padding: 20px;
   color: rgb(12, 11, 11);
   height: 60vw;
   z-index: 1;
   }
   
    